html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  border: solid black;
  border-radius: 12px;
}

#synth-holder {
  /* width: 800px;
  height: 600px; */
  /* background-color: blue; */
  position: absolute; /*Can also be `fixed`*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
}
